* {
  box-sizing: border-box;
}

.hidden {
  display: none !important;
}

.disabled {
  opacity:0.4;
  li {
    cursor:default !important;
  }
}

.todo__button {
  display: block;
  padding:0.7rem 1rem;
  background-color:#86f7de;
  border:none;
  border-radius:4px;
  margin-left:10px;
  font-size:18px;
  font-weight: 500;;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color:#1b2b46;
  white-space: nowrap;

  &:hover, &:focus {
    background-color:#75ebd1;;
    
  }
  &:focus {
    animation: contracts 0.3s ease forwards;
  }

  i {
    color:white;
    margin-right:10px;
  }

  &--secondary {
    font-size:12px;
    text-transform: uppercase;
    background-color:black;
    color: white;
    padding:0.5rem 0.7rem;
    &:hover, &:focus {
      background-color:#010101;;
      
    }
  }

}

body {
  font-family:Inter, sans-serif;
  background-color:#f5f8ff;
  
}

main {
  display:flex;
  flex-direction:column;
  align-items: center;
  justify-content: center;
}
.todo__wrapper {
  display:flex;
  flex-direction:column;
  width:100%;
  max-width:500px;
  margin-bottom:700px;
  
  h1 {
    color:#1b2b46;
    font-size:32px;
    margin: 40px 0 35px 0;
  }

  .todo__actions {
    background-color:#f5f8ff;
    padding-top:20px;
    display:flex;
    flex-direction:column;
    z-index: 2;
  }

  .todo__filter {
    display:flex;
    flex-direction:row;
    justify-content: flex-start;
    list-style: none;
    margin:0;
    padding:1rem 0;;
    margin-bottom:10px;
    border-bottom: 1px solid #d9e0f0;
    background-color:#f5f8ff;

    .todo__option {
      display:flex;
      flex-direction: column;
      padding:0.3rem 0.6rem;
      border-radius:4px;
      color:#1b2b46;
      font-size:18px;
      font-family:Inter, sans-serif;
      cursor: pointer;
      font-weight:500;
      transition: all 0.3s ease;

      &:hover {
        background-color:#d8e6ff;
      }
      &--active {
        background-color:#d8e6ff;
        &:hover {
          background-color:#d8e6ff ;
        }
      }
    }
  }

  @keyframes scales {
    0% {transform: scale(1);}
    50% {transform: scale(1.07);}
    100% {transform: scale(1);}
  }
  @keyframes contracts {
    0% {transform: scale(1);}
    50% {transform: scale(0.93);}
    100% {transform: scale(1);}
  }

  .todo__form {
    display:flex;
    width:100%;
    margin-bottom:20px;
    

    .todo__input {
      padding:0.7rem;
      width:100%;
      border:1px solid #d9e0f0;
      font-size:18px;
      border-radius:2px;
      

     

      &::placeholder {
        color:#999;
      }

      &:focus {
        outline:none;
        border:1px solid #749fe9;
      }
    }

    .todo__select {
      position: relative;
      overflow: hidden;
      width:90px;
      margin-left:auto;

      
      &:before {
        content:"\25bc";
        font-size: 12px;;
        position: absolute;
        background:#ddd;
        right:0;
        top:0;
        padding:0.2rem;
        pointer-events: none;

      }

      

    }
  }

  .todo__filter {
    appearance: none;
    outline: none;
    z-index: 2;
    // border:none;
    
    // width:14rem;
  }

  .todos__container {

    .todos__utility {
      display: flex;

      .todo__button {
        margin-top:20px;
        margin-right:10px;
        margin-left:0;
      }

    }
    
  }

  .todo__list {
    display:flex;
    flex-direction:column;
    list-style: none;
    margin:0;
    padding:0;

    .todo {
      display:flex;
      flex-direction:row;
      justify-content: flex-end;
      align-items: center;
      width:100%;
      border-bottom:1px solid #d9e0f0;
      transition: all 0.3s ease;
      // padding:0 1rem;

      &:hover {

        .btn_done, .btn_delete {
          transform:translateY(0px);
          opacity:1;
        }
        
      }

      &.completed {
        
        .checked {

          @keyframes check {
            0% {transform:scale(0);}
            100% {transform:scale(1);}
          }

          i {
            transform:scale(0);
            background:#86f7de;
            border-radius: 50%;
            padding:0.3rem;
            font-size: 10px;
            margin-right:10px;
            animation: check 0.3s ease forwards;

          }
        }

        .todo__text {
          // text-decoration: line-through;
          &:before {
            // content:"✔️";
            color:#86f7de;
            margin-right:10px;
          }
          
          // opacity:0.7;
        }
      }

      &.drop {
        transform:translateY(2rem) rotate(5deg);
        opacity: 0;
      }


      .todo__text {
        display:block;
        font-size:18px;
        font-weight:600;
        margin-right:auto;
        padding:1rem 1rem 1rem 0;

        &::first-letter {
          text-transform:uppercase !important;
        }
        
      }

      

      .btn_done, .btn_delete {
        display:block;
        width:30px;
        height:30px;
        border:none;
        margin-left:10px;
        border-radius:2px;
        cursor: pointer;
        background-color:#d8e6ff;
        transform:translateY(10px);
        opacity:0;
        transition: all 0.3s ease;
        i {
          color:#1b2b46;
          transition: color 0.3s ease;
        }
      }

      .btn_done {
        background-color:#86f7de;
        &:hover, &:focus {
          animation: scales 0.5s ease forwards;
        } 
        &:focus {
          animation: contracts 0.3s ease forwards;
        }      
      }
      .btn_delete {
        background-color:rgb(250, 191, 191);
        &:hover, &:focus {
          animation: scales 0.5s ease forwards;
        }  
        &:focus {
          animation: contracts 0.3s ease forwards;
        }      
      }

    }
  }
  .fas {
    pointer-events: none;
  }
}